@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: rgb(255, 251, 1);
    --secondary-color: rgb(255, 208, 1);
    --white-color: #fff;
    --black-color: #000;
    --gray-color: rgb(48, 48, 48);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
}

h1 {
    font-size: 50px;
}

h2 {
    font: 34px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}


.container {
    padding: 0 10%;
}

.btn {
    background: var(--primary-color);
    padding: 10px 20px;
    color: var(--black-color);
    font-weight: 500;
    border-radius: 15px;
}

.btn:hover {
    background: var(--secondary-color);
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

/* start menu design */

.menu {
    background: var(--black-color);
    box-shadow: 0 2px 5px rgb(216, 216, 216);
    padding: 15px 0;
    position: relative;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .logo {
    width: 120px;

}

.menu .logo a {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: 20px;
}

.menu .logo i {
    background: var(--primary-color);
    color: var(--black-color);
    height: 40px;
    width: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .nav ul {
    display: flex;
    gap: 30px;
}

.menu .nav .menu-item {
    position: relative;
}



.menu .nav .menu-item:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.menu .nav .menu-item .nav-link {
    color: var(--white-color);
}

.menu .nav .menu-item:hover .nav-link {
    color: var(--primary-color);
}

.menu .nav .menu-item .nav-link i {
    font-size: 12px;
}



.menu .login {
    background: var(--primary-color);
    padding: 10px 20px;
    color: var(--black-color);
    font-weight: 500;
    border-radius: 15px;
}

.menu .login:hover {
    background: var(--secondary-color);
}

.menu .menu-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#menu_btn{
    display: none;
}

/* submenu */
.sub-menu {
    position: absolute;
    top: 44px;
    width: 200px;
    background: var(--black-color);
    transition: all .3s linear;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.sub-menu ul {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
}



.sub-menu ul li:hover {
    background: var(--gray-color);
}

.sub-menu ul li a {
    padding: 15px 15px;
    color: var(--white-color);
}

.sub-menu ul li a:hover {
    color: var(--primary-color);
}

/* end menu design */



/* start banner section */

.banner {
    padding: 80px 0;
    background: rgb(72, 201, 252);
}

.banner .banner__container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.banner .left__side-box {
    flex-basis: 50%;
}


.banner .right__side-box {
    flex-basis: 50%;
}


/* end banner section */

/* start category section */

.category {
    padding: 80px 0;
}

.category .categories {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
}

.category .categories .item {
    box-shadow: 0 0 7px rgb(202, 202, 202);
    padding: 10px;
    text-align: center;
}

.category .categories .item img {
    width: 70px;
}

.category .categories .item a {
    font-weight: 500;
}

.category .categories .item:hover a {
    color: var(--black-color);
}


/* end category section */


/* responsive */
@media only screen and (max-width: 768px) {

    .nav {
        position: absolute;
        top: 70px;
        right: 10%;
        width: 300px;
        background: var(--black-color);
        opacity: 0;
        visibility: hidden;
        transition: all .3s linear;
        z-index: 99;
    }

    .nav.show {
        opacity: 1;
        visibility: visible;
    }

    .nav ul {
        flex-direction: column;
        gap: 0px !important;
    }

    .menu .nav .menu-item a {
        padding: 15px;
    }

    .menu .nav .menu-item:hover {
        background: var(--gray-color);
    }

    #menu_btn{
        display: block;
    }

    .banner .left__side-box {
        flex-basis: 100%;
        text-align: center;
    }

    .banner .right__side-box {
        display: none;
    }


    .category .categories {
        grid-template-columns: repeat(5, 1fr);
    }


}

@media only screen and (max-width: 425px) {

    .category .categories {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 375px) {
    .nav{
        width: 250px;
    }
    .category .categories {
        grid-template-columns: repeat(2, 1fr);
    }
}